<html>
 <body>
  <section class="main">
   <div class="overlay">

    <div class="content">

     <div class="header">
      <h1>
       2ndLife</h1>
      <p>Take care of yourself, Take care of the world.</p>
     </div>

     <div class="options">

      <div class="spinner dietplan">
       <p>Dietplan</p>
      </div>

      <div class="spinner foodnet">
       Foodnet
      </div>

      <div class="spinner plandiet">
       <p>SponsorU</p>
      </div>

     </div>
    </div>
   </section>
  </body>
 </html>
